GOOGLE_SHEET_ID=ID_DER_GOOGLE_TABELLE
GOOGLE_SERVICE_ACCOUNT_EMAIL=digital-cleaning@DEIN-PROJEKT.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nDEIN_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
ALLOWED_EMAIL=DEINE_NETLIFY_IDENTITY_EMAIL
